<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>

<div class="link">
  <a class="link__link" href="/admin">Innskráning stjórnanda</a><br>
  <a class="link__link" href="/users">Nýskráning</a><br>
  <a class="link__link" href="#">Nýskráning stjórnanda</a><br>
</div>

<%- include('footer') -%>
