<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>

<div class="link">
  <a class="link__link" href="/admin">Innskráning stjórnanda</a><br><br>
  <a class="link__link" href="/admin/signup">Nýskráning</a><br><br>
  <a class="link__link" href="https://www.youtube.com/watch?v=GtL1huin9EE">DROP SCHEMA public CASCADE;<br> CREATE SCHEMA public;</a><br>
</div>

<%- include('footer') -%>
