<div class="paging">
  <% if (paging.hasPrev) { %>
    <a class="paging__prev" href="<%= paging.prevUrl %>">Fyrri síða</a>
  <% } else { %>
  <span class="paging__prev">Fyrri síða</span>
  <% } %>

  <div class="paging__info">Síða <%= paging.page %> af <%= paging.totalPages %></div>

  <% if (paging.hasNext) { %>
  <a class="paging__next" href="<%= paging.nextUrl %>">Næsta síða</a>
  <% } else { %>
  <span class="paging__next">Næsta síða</span>
  <% } %>
</div>