<%- include('header') -%>

<h1>Nýskráning</h1>

<form class="form" method="post" action="/index/signup" autocomplete="off">
  <div class="field">
    <label for="username">Notendanafn</label>
    <input type="text" name="username" id="username">
  </div>


  <div class="field">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password">
  </div>

  <% if (message) { %>

  <p><%= message %></p>
  <% } %>

  <button class="button">Nýskrá</button>
</form>

<a href="/">Til baka</a>

<%- include('footer') -%>